body{
    background-color: #FFFFFF;
}

#menu{
    list-style: none;
    text-align: center;
    padding: 31.5px 330px;

}

a{
    text-decoration: none;
    color: red;
}

li{
    display: inline;
    font-size: 18px;
    margin-right: 72px;
    font-weight: 700;
    letter-spacing: 2.7px;
}

.topic{
    text-align: center;
    margin-top: 49px;
    color: #373737;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 3.3px;
}

.first-paragraph{
    text-align: center;
    margin: 38px 67.5px 28px;
    line-height: 26px;
    letter-spacing: 2.4px;
    
}

.second-paragraph{
    text-align: center;
    margin: 28px 67.5px 66px;
    line-height: 26px;
    letter-spacing: 2.4px;
}

button{
    background-color: red;
    padding: 18px 43px;
    margin: auto;
    display: block;
    color: #FFFFFF;
    border: 0px;
    border-radius: 4px;
    letter-spacing: 1.8px;
    font-weight: 700;
    font-size: 12px;
}

footer{
    margin: 82px 105px 29px;
    text-align: right;
    color: #373737;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 2.4px;
}